// Definicja kolorów
$primary-color: #3498db; // Niebieski
$secondary-color: #2ecc71; // Zielony
$background-color: #f5f5f5; // Jasnoszary
$text-color: #333333; // Ciemnoszary


// Zastosowanie kolorów
body {
  background-color: $background-color;
  color: $text-color;
}

a {
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}

header {
  background-color: $primary-color;
  color: #ffffff;
}
